<fieldset id="contenido" >
  <legend id="leyendaindex">
    Editar Suscriptor
  </legend>
<% form_for @suscriptor, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
    <table class="botonera" frame = "box" width = "580">
    <tr>
      <td>
        <%= image_submit_tag "OK.gif", :id => "BotonOK1" %>
        <%= link_to image_tag("Cancel.gif", :mouseover => "Cancelmo.gif", :border => 0), suscriptors_path %>
      </td>
    </tr> 
  </table> 
  <%= render :partial => "ficha" %>
<% end %>
</fieldset>